* {
    box-sizing: border-box;
  }
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: #0059ff40;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #002962;
    border-right: none;
    border-left: none;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #000000;
  }
  hr.footer {
    border: 2px solid rgb(0, 153, 255);
    border-radius: 2px;
  }
  p.first {
    margin-bottom: 0;
  }
  p.next {
    margin: 0;
  }
  @supports ( -moz-appearance:none ){
    * {
      scrollbar-width: thin;
      scrollbar-color: #002962 #0059ff40;
    }
  }

  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: fixed;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    .navbar a.navcenter {
      float: none;
      display: block;
      text-align: center;
    }
  }
  @media screen and (min-width: 600px) {
    .navbar a.right {
      float: right;
    }
    .navbar a.left {
      float: left;
    }
    .navbar a.navcenter {
      float: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .activated {
    background-color: #004d96;
  }
  .navbar {
    display: none;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
  }
  @keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes bgtransition {
    from {background-color: rgba(0, 0, 0, 1);}
    to {background-color: rgba(0, 0, 0, 0.5);}
  }

  .navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #ffffff;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
  }

  .navbar .icon {
    display: none;
  }

  .navbar a:hover {
    background-color: #ddd;
    box-shadow: inset 0 0 0 0 #ffffff;
    color: black;
  }
  .activated {
    background-color: #004d96;
  }
  .bg2 {
    display: inline;
    background-color: #00000080;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -2;
  }
  .bg {
    background-image: url("https://i.ibb.co/whD7vJJ/9024835.jpg");
    width: 100%;
    height: 100vh;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -2;
  }
  .bg2 {
    display: inline;
    background-color: #00000080;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -2;
  }
  .buffer {
    background-color: #00000000;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
  }
  .text {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  }
  .text a{
    color: white;
    text-decoration: none;
  }
  .text a:hover{
    color: white;
    text-decoration: underline;
  }
  .textcenter {
    text-align: center;
    max-width: 700px;
    position: relative;
    margin:0.5em auto;
  }
  .textheader {
    position: relative;
    text-align: center;
    margin: 0;
  }
  .banner {
    background-color: #00408080;
    width: 100%;
    height: 50vh;
    top: 0;
    display: inline;
  }
  .banner2 {
    background-color: #00408080;
    width: 100%;
    height: 35vh;
    top: 0;
    display: inline;
  }
  .bannered {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .box {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }
  h1 {
    font-size: 75px;
  }
  @media screen and (max-width: 1000px) {
    .foot {   
      flex-direction: column;
    }
    .footer1 {
      margin: auto;
    }
    .footer3 {
      margin: auto;
    }
  }

  @media screen and (min-width: 1000px) {
    .footer1 {   
      float: right;
    }
    .foot2 {
      max-width: 300px;
    }
    .footer3 {
      width:100%;
      float:left;
    }
    .textfoot {
      padding-bottom: 20px;
    }
  }

  .foot {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    background-color: #00000080;
  }
  .foot1 {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    padding: 20px;
  }
  .foot2 {
    -ms-flex: 34%; /* IE10 */
    flex: 34%;
    padding: 20px;
  }
  .foot3 {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    padding: 20px;
  }
  .footer1 {
    max-width: 300px;
  }
  .footer2 {
    max-width: 300px;
    margin: auto;
  }
  .footer3 {
    max-width: 300px;
  }
  .texthead {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: left;
    position: relative;
    color: rgb(192, 192, 192);
      
  }
  .textfoot {
    text-align: left;
    position: relative;
    color: rgb(160, 160, 160);
  }
  .textfoot a{
    color: rgb(160, 160, 160);
    text-decoration: none;
  }
  .textfoot a:hover{
    text-decoration: underline;
  }